* { box-sizing: border-box; font-family: Arial, sans-serif; }

body {
  margin: 0;
  background: linear-gradient(to bottom, #d8f3dc, #f1f5f2);
}

/* LOGIN */
#loginBox {
  width: 320px;
  margin: 120px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* HEADER */
header {
  background: #2d6a4f;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* HERO */
.hero {
  background: linear-gradient(to right,#52b788,#40916c);
  color: white;
  padding: 60px;
  text-align: center;
}

/* FILTER */
.filter { text-align: center; margin: 25px; }
.filter button {
  padding: 10px 22px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: #40916c;
  color: white;
  cursor: pointer;
}

/* PRODUCTS */
.products { padding: 40px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 12px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover { transform: translateY(-8px); }

.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.card p {
  color: #2d6a4f;
  font-weight: bold;
}

/* FOOTER */
footer {
  background: #1b4332;
  color: white;
  text-align: center;
  padding: 18px;
}
